<h1>Answer this question</h1>
<h2><%= @question.name_of_question() %></h2>

<% if @question.answers().any? %>
  <form action="/responses" method="post">
		<input type="hidden"  name = "question_id"  value="<%=@question.id %>">

	<label for="answer_id">Select Your Answer</label>
	<select id='answer_id' name='answer_id' type='text'>
		<% @answers.each() do |answer| %>
		<option name="answer_id" value="<%= answer.id()%>"> <%= answer.answer() %> </option>
		<% end %>
	</select>

	<button type="submit">Submit Answer</button>
  </form>


<% else %>
  <p>
    There are no answers to this question just yet.
  </p>
<% end %>

<p>Create a New Answer:</p>

<form action='/answers' method='post'>
	<label for='answer'>Answer:</label>
	<input id='answer' name='answer' type='text'>
	<input type="hidden"  name = "question_id"  value="<%=@question.id %>">
	<button type="submit">Add Answer</button>
</form>



<h2>Update <%=@question.name_of_question() %></h2>

<form action="/questions/<%= @question.id() %>" method="post">
	<input name="_method" type="hidden" value="patch">

	<label for="name">Edit question to:</label>
	<input id="name" name="name" type="text">

	<button type="submit">Update</button>
</form>

<form action="/questions/<%= @question.id() %>" method="post">
<input name="_method" type="hidden" value="delete">
<button type="submit">Delete This Question</button>
</form>
